 body{

    text-align: center;
    margin: 0;
    font-family: monospace;
    font-size: 20px;
    background-color: #f0f8ff;
 }
 header{

    color: white;
    height: 100vh;
    background-color: #2196F3;
    padding-top: 200px;
}
h1{
    color: aqua;
    font-size: 40px;

}
header h1{
    margin: 0;
}

.Button{

 height: 40px;
 width: 140px;
 border:none;
 border-radius: 10px;
 cursor: pointer;                             
}
.Button:hover{
    color: white;
    background-color: darkblue;
}
section{
    height: 100vh;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
     align-items: center ;

}
main{
    padding: 20px;
}
img{
    height:200px;
}
.submit{
    height: 40px;
 width: 140px;
 border:none;
 border-radius: 10px;
 cursor: pointer;
 background-color: #2196F3;
    
}
.submit:hover{
    color: white;
    background-color: darkblue;
}
